.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(29, 29, 29);
  padding: 8px 12px;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav_links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav_links:hover {
  background-color: blue;
  border-radius: 4px;
}
